body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: blue; }

header h2 {
  color: #e33415; }

.site-footer {
  background-image: linear-gradient(#e33415, white);
  padding: 20px 0; }
